button {
  margin-left: 5px;
  border-radius: 5px;
}

.memo {
  position: absolute;
  background-color: whitesmoke;
  margin-left: 450px;
  margin-top: 200px;
  border-radius: 20px;
  padding: 20px;
  opacity: 0.9;
}
